.policyContainer {
}

.signupPaper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 120vh;
    height: 100vh;
}

.signup_titleField {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.arrowBackIcon {
    cursor: pointer;
}

.signupTitle {
    margin: 30px 30px 20px 30px;
    font-size: 32px;
    cursor: pointer;
}

.signupLabel {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1vh;
}

.signupLabel > div {
    margin-top: 2vh;
}

.signup_mainLabel > h2 {
    font-size: 30px;
}

.signup_borderLine {
    border-bottom : 1px solid #8F8F8F;
    width: 2vh;
    height: 1px;
}

.signup_subLabel {
    color: #959595;
}

.signupPolicy {
    margin-top: 5vh;
}

.signupCheck {
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.signupCheck > div {
    margin: 0px 1px 0px 1px;
}

.signupCheck > div > p {
    font-size: 17px;
}
