.signup_completeField {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

.signup_completeImg > img {
    width: 58vh;
    height: 38vh;
    filter: drop-shadow(1px 1px 13px #7B7B7B);
}

.signup_completeLabel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.signup_completeLabel > h1 {
    margin: 3px 1vh 1vh 1vh;
    font-size: 4vh;
}

.signup_completeButtonField{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;

}

.signup_completeButtonField > button{
    font-size: 17px;
    font-weight: 1000;
    letter-spacing: 7px;
}