.signupField {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    left: 20px;
    width: 115vh;
    height: 64vh;
}

.signupField > form > div{
    margin: 2vh 0vh 2vh 0vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup_inputGender {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#signup_genderRadio {
    margin-left: 12px;
    margin-right: 12px;
}

#demo-row-radio-buttons-group-label {
    margin-top: 1vh;
    margin-right: 25px;
    font-size: 18px;
}

.sign_mailInputField > button {
    font-size: 14px;
    font-weight: 1000;
}

.sign_mailAuthField > button {
    font-size: 14px;
    font-weight: 1000;
}

.sign_mailAuthLink {
    font-size: 13px;
    color: #8F8F8F;
    text-decoration: underline;
    cursor: pointer;
}

.sign_buttonField {
    padding-top: 16px;
    padding-bottom: 16px;
}

.sign_buttonField > button {
    font-size: 17px;
    font-weight: 1000;
    letter-spacing: 5px;
}

.sign_modal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal_scriptField > div {
    display: flex;
    justify-content: center;
    margin: 3vh 1vh 3vh 1vh;
}

.modal_scriptField > div > h2 {
    font-size: 26px;
}

.modalField > div:nth-child(1) {
    background-color: rgba(0,0,0,0);
}