.loginField {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 8vh 6vh 8vh 7vh;
    width: 38vh;
}

.login_inputField > div {
    margin-bottom: 1vh;
}

.login_linkField {
    display: flex;
    float: right;
    flex-direction: row;
}

.login_findLink {
    font-size: 12px;
    color: #8F8F8F;
    margin: 0px 1px 0px 1px;
    cursor: pointer;
}

.login_findNoLink {
    font-size: 12px;
    color: #8F8F8F;
    margin: 0px 1px 0px 1px;
}

.login_buttonField {
    margin-top: 7vh;
    margin-bottom: 6vh;
}

.login_buttonField > button {
    margin-top: 3vh;
    font-size: 17px;
    font-weight: 1000;
    letter-spacing: 5px;
}

.login_modal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login_modal_scriptField > div {
    display: flex;
    justify-content: center;
    margin: 3vh 1vh 3vh 1vh;
}

.login_modal_scriptField > div > h2 {
    font-size: 2.8vh;
}

.login_modal_scriptField > div > p {
    font-size: 1.9vh;
}

.modalField > div:nth-child(1) {
    background-color: rgba(0,0,0,0);
}