.findpw_box {
    top: 51%;
    left: 67%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 1;
    width: 40%;
    height: 70%;
}

.findpw_tab {
    width: 23vw;
    display: flex;
    justify-content: space-around;
    font-size: 1.6vw;
    font-weight: bold;
    margin-top: 2.5vh;
    cursor: pointer;
}

.findpw_tabpw {
    text-decoration: underline;
    text-underline-position : under;
    cursor: default;
}

.findpw_inputName {
    font-size: 1vw;
	font-weight: bold;
	color: #262626;
    margin-top: 2.5vh;
    margin-bottom: 0.3vh;
    cursor: default;
}

.findpw_inputbox {
    display: flex;
    width: 18vw;
    height: 2.3vh;
    padding: 1.2vh;
    padding-right: 4vw;
    margin-top: 0.3vh;
    border-bottom: 2px solid #808080;
    overflow: hidden;
}

.findpw_inputbox:focus-within {
    border-bottom: 2px solid #0051ff;
}

.findpw_input {
    width: 20vw;
    outline: none;
	border: none;
    height: 2.25vh;
    font-size: 1vw;
	font-weight: 500;
    margin-left: 0.7vw;
}

.findpw_input::placeholder {
    color: #dadada;
}

.findpw_errorMessageWrap {
    margin-top: 0.5vh;
    color: #ef0000;
    font-size: 0.7vw;
    height: 0.1vw;
    margin-left: 1vh;
    white-space: nowrap;
}

.findpw_buttons {
    margin-top: 2.2vh;
    display: flex;
    justify-content: space-around;
    width: 23vw;
}


input[type="date"]::before {
    content: attr(data-placeholder);
    width: 100%;
}

input[type="date"]:valid:before {
    display: none;
}