.main_box {
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  height: 62vh;
  width: 55vw;
  padding: 0 0.2vw;

  left: 50%;
  transform: translate(-50%, 10%);

  background-color: #ffffff9a;
  
  overflow: hidden;
  display: flex;
  flex-direction: column;

  border-radius: 3vh;
  box-shadow: 0.5vh 0.5vh 0.5vh 0.5vh rgba(0, 0, 0, 0.425);
}

.main_title {
  margin-top: 3vh;
  font-size: 3vw;
	font-weight: bold;
	color: #262626;
  text-align: center;
  white-space: nowrap;
}

.main_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3vh;
}

.main_img {
  height: 41vh;
  width: 23vw;
  margin-top: 3vh;
  position: relative;
  margin-right: 27vw;
}

.main_line {
  position: absolute;
  border-left : 0.2vh solid rgb(167, 167, 167);
  height: 47.5vh;
}