/* .module_box {
  position: fixed;
  top: 3vh;
  bottom: 10vh;
  height: 89vh;
  width: 55vw;

  left: 50%;
  transform: translate(-50%);
  
  display: flex;
} */

.module_title {
  position: fixed;
  top: 3vh;
  left: 50%;
  transform: translate(-50%);
  
  display: flex;
  font-size: 3vw;
  font-weight: 900;
  display: flex;
  align-items: center;
  cursor:pointer;
}

.module_img {
  height: 3vw;
  margin-top: 0.5vh;
  margin-right: 0.5vw;
}

.module_user {
  display: flex;
  position: absolute;
  top: 4vh;
  left: 94.5%;
  transform: translate(-94.5%);
  align-items: center;
}

.module_classimg {
  height: 2.5vw;
  margin-right: 0.5vw;
}

.module_info {
  width: 8vw;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.module_name {
  cursor:default;
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
  font-weight: 530;
}

.module_move {
  margin-top: 0.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  white-space: nowrap;
}

.module_page {
  cursor:pointer;
  font-size: 0.7vw;
  /* font-weight: 530; */
}

.module_out {
  cursor:pointer;
  font-size: 0.7vw;
  /* font-weight: 530; */
}