.signdone_box {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 35%);
}

.signdone_img {
  height: 40vh;
  width: 35vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5.5vw;
  box-shadow: 0.4vh 0.4vh 0.4vh 0.4vh rgba(0, 0, 0, 0.277);
}

.signdone_con {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  font-size: 2.5vw;
  font-weight: 900;
}

.signdone_home {
  display: flex;
  justify-content: center;
  font-size: 0.85vw;
  /* font-weight: 900; */
}

.signdone_buttons {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 3vh;
  white-space: nowrap;
}