.moduleContainer {
}

.module_paperContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.modulePaper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45vh;
    height: 76vh;
    margin: 0px 40px 6px 40px;
}

.modulePaper > img {
    margin-top: 4vh;
    width: 28vh;
    height: 28vh;
}

.moduleTitle {
    margin-top: 10px;
    margin-bottom: 15px;
    letter-spacing: 12px;
    font-size: 3vh;
}

.module_borderLine {
    border-bottom : 2px solid #686868;
    width: 39vh;
    height: 1px;
}

.module_scriptField {
    padding : 2vh;
}

.module_scriptLabel {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1vh;
}

.module_scriptLabel > div {
    margin: 1.1vh;
}

.moduleScriptPoint {
    background-color: #686868;
    border-radius: 30px;
    width: 5px;
    height: 5px;
}

.moduleScript {
    color: #686868;
    font-size: 1.9vh;
    font-weight: bold;
}

.module_buttonField {
}


