.foot {
    background-color: #263A4E;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    /* FooterK Font*/
    color: white;
    font-size: 2vh;
    font-weight: bold;
    letter-spacing: 1px;
}

.foot_contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 3px 20px 3px 10px;
}

.foot_contact > img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.foot_borderLine {
    border-right : 2px solid white;
    width: 1px;
    height: 50px;
}

.foot_post {
    display: flex;
    flex-direction: column;
    margin: 6px 10px 6px 20px;
}

.foot_postMail {
    display: flex;
    flex-direction: row;
    margin: 3px 0px 3px 0px;
}

.foot_postMail > img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.foot_postPhone {
    display: flex;
    flex-direction: row;
    margin: 3px 0px 3px 0px;
}

.foot_postPhone > img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}